## ignore everything by default
*

## allow descending into specific directories
!.config/

## allow toplevel files i want to keep
!.gitignore

!installed-packages.txt

!.zshrc
!.zshenv

!.xinitrc

!.tmux.conf

## config dir stuff

# nvim
!.vimrc
!.config/nvim/
!.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/lua
!.config/nvim/lua/*

# redshift
!.config/redshift/
!.config/redshift/redshift.conf


